/* Add CSS styling here */
/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    background-color:#FBFFFB;
    line-height:1.5;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
h1{
    font-size: 3rem;
}
.topsection{
    display: flex;
    justify-content: center;
}
.image-button{
    background-image: url("https://picsum.photos/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: large;
    width: 600px;
    height: 400px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.project-element{
    text-align: center;
}
button{
    background-color: whitesmoke;
    color: teal;
    border: teal solid 1px;
    padding: 5px 10px;
}
button:hover{
    background-color: teal;
    color: whitesmoke;
    border: whitesmoke solid 1px;
}
button a{
    text-decoration: none;
    color: inherit
}

footer{
    background-color: beige;
    padding: 20px;
    text-align: center;
}


/* responsive design  */